a {
  color: currentColor;
}

main {
  background-color: white;

  @include media-breakpoint-down(sm) { 
    padding-top: 70px;
  }
}

hr {
  border-style: none;
  border-bottom-style: solid;
  border-color: currentColor;
}
