.pb-row-medias {
  $self: &;
  --index: 0;

  &__media {

    &Wrap {
      --max-width: 9999px;
      --pt: 0%;
      --pb: 0%;

      @include media-breakpoint-up(md) {

        max-width: var(--max-width);
        padding-top: var(--pt);
        padding-bottom: var(--pb);

        &.--align-center, &.--align-left {
          margin-right: auto;
        }

        &.--align-center, &.--align-right {
          margin-left: auto;
        }

      } 

    }

    @include media-breakpoint-down(sm) {
      transform: none !important;
    }

    @include inView {
      #{$self}__imgWrap {
        @include fadeInStart;
      }

      #{$self}__img {
        opacity: 0.0001;
        transform: scale(1.2);
      }
      

      &.is-inview {
        #{$self}__imgWrap {
          @include fadeInEnd(250ms);
          transition-delay: calc(var(--index) * 200ms);
        }

        #{$self}__img.--loaded {
          opacity: 1.0001;
          transform: scale(1.001);
          transition: transform 1050ms $easeOutQuad, opacity 250ms linear;
          transition-delay: calc(var(--index) * 200ms);
        }
      }
    }
  }

  &__box {
    background-color: white;

    &.--custom-ratio {
      &:before {
        padding-top: calc((var(--ratio-width) / var(--ratio-height)) * 100%);
      }
    }
  }

  &__ticker {
    &__list {
      --item-length: 0;
    }
  }

  &__nav {
    @include media-breakpoint-up(lg) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__imgWrap {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid color(color-white);
      background-color: color(gray-300);

      animation: fadeInOut 3s linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
    &.--parallax {
      --parallax-speed: 2;

      html.has-scroll-smooth & {
        top: -12px;
        bottom: -12px;
      }
    }
  }

  // SLIDER
  &.--layout-slider {
    #{$self}__wrap {
      width: min-content;
    }

    .swiper-wrapper {
      cursor: grab;
    }
    #{$self}__img {
      height: 265px;

      @include media-breakpoint-up(lg) {
        height: 448px;
      }
    }
    #{$self}__slide,
    #{$self}__img {
      width: auto;
    }
  }

  // TICKER
  &.--layout-ticker {
    #{$self}__img {
      width: auto;
      height: auto;
      max-height: 265px;

      @include media-breakpoint-up(lg) {
        max-height: 448px;
      }
    }
  }

  // GRID
  &.--layout-grid-1,
  &.--layout-grid-2,
  &.--layout-grid-3,
  &.--layout-grid-4,
  &.--layout-grid-third,
  &.--layout-grid-center {
    #{$self}__grid:not(.--fullwidth) {
      padding-left: 16px;
      padding-right: 16px;

      @include media-breakpoint-up(lg) {
        padding-left: spacer(4);
        padding-right: spacer(4);
      }
    }
  }

  @include media-breakpoint-up(md) {

    // GRID 2
    &.--layout-grid-2 {
      #{$self}__grid {
        grid-template-columns: 1fr 1fr;
      }

      &.--overlap-left.--half, &.--overlap-both {
        #{$self}__media {
          &:first-child {
            margin-left: 50%;
            margin-right: -50%;
            z-index: 100;
          }
        }
      }

      &.--overlap-right.--half, &.--overlap-both {
        #{$self}__media {
          &:last-child {
            margin-right: 50%;
            margin-left: -50%;
            z-index: 100;
          }
        }
      }

      &.--overlap-left.--full {
        #{$self}__media {
          &:first-child {
            margin-left: 100%;
            margin-right: -100%;
            z-index: 100;
          }
        }
      }

      &.--overlap-right.--full {
        #{$self}__media {
          &:last-child {
            margin-right: 100%;
            margin-left: -100%;
            z-index: 100;
          }
        }
      }
    }

    // GRID 3
    &.--layout-grid-3 {
      #{$self}__grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    // GRID 4
    &.--layout-grid-4 {
      #{$self}__grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    // GRID 2/3 - 1/3
    &.--layout-grid-third {
      #{$self}__grid {
        grid-template-columns: 1fr 0.333fr;
      }
    }

    // GRID CENTER
    &.--layout-grid-center {
      #{$self}__box {
        @include media-breakpoint-up(md) { 
          margin-left: auto;
          margin-right: auto;
          width: 40vw;

          &.box-landscape, &.box-square, &.box-postal-card, &.box-half-square, &.box-widescreen {
            width: 60vw;
          }
        }

        @include media-breakpoint-up(lg) { 
          width: 30vw;
          min-width: 600px;

          &.box-landscape, &.box-square, &.box-postal-card, &.box-half-square, &.box-widescreen {
            width: 40vw;
            min-width: 800px;
          }
        }
      }
    }
  }

  // IN-VIEW ANIMATIONS
  @include inView {
    opacity: 0.0001;
    transform: translate3d(0, 200px, 0);

    &.is-inview {
      opacity: 0.999;
      transform: translate3d(0, 0px, 0);
      transition: opacity 450ms linear, transform 950ms $easeOutCubic;
    }
  }
}
