.site-loader {
  $self: &;

  &__logo {

    // @include animateBlurInOut;
    filter: blur(5px);

    svg {
      height: 50px;
      width: auto;

      @include media-breakpoint-up(md) { 
        height: 80px;
      }
    }
  }
}
