<div
  class="site-transition d-flex justify-content-center align-items-center position-fixed t-0 l-0 w-100 vh-100 min-vh-100 z-10000 overflow-hidden visibility-hidden pointer-events-none bg-color-white"
  aria-hidden="true"
  data-ignore-css-empty
  data-site-transition
>
  <div class="site-transition__logo">
    {{ source('src/svg/logo-condensed.svg') }}
  </div>
</div>
